<div class="container text-center">
    <div class="  row">
        <div class=" col-3 p-2  ">
          <a (click)="filter('')">
            <img style=" border-radius: 30px; height:200px" class="w-75" src="https://i.postimg.cc/RFmQ5rZ9/ap3.jpg" alt="">
            <h6>All Products</h6>
        </a>
                
        </div>
        <div class="col-3 p-2">
            <a (click)="filter(1)">
            <img style="border-radius: 30px;  height:200px" class="w-75" src="https://i.postimg.cc/7h5WbCpw/er1.jpg" alt="">
            <h6>Earrings</h6>
          </a>
        </div>
        <div class="col-3 p-2">
            <a (click)="filter(2)">
            <img style="border-radius: 30px; height:200px" class="w-75" src="https://i.postimg.cc/SxRf4Fbb/br1.jpg" alt="">
            <h6>Bracelets</h6>
        </a>
        </div>
        <div class="col-3 p-2">
            <a (click)="filter(3)">
            <img style="border-radius: 30px; height:200px"  class="w-75" src="https://i.postimg.cc/PqzxFJVX/ap2.jpg" alt="">
            <h6>Neckchain</h6>
        </a>
        </div>
        <div class="col-3  p-2">
            <a (click)="filter(4)">
            <img  style="border-radius: 30px; height:200px" class="w-75" src="https://i.postimg.cc/26dmgR94/a1.jpg" alt="">
            <h6>Anklets</h6>
            </a>
        </div>
    
        <div class="col-3  p-2">
            <a (click)="filter(5)">
            <img style="border-radius: 30px; height:200px" class="w-75" src="https://i.postimg.cc/zGkQmDqD/rings.jpg" alt="">
            <h6>Rings</h6>
        </a>
        </div>
    </div>
</div>
<!-- Section-->
<section  class="py-5 " style="background-color:yellowgreen;" >
    <div class="container px-4 px-lg-5 mt-5 ">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let i of filterproducts | filter:searchkey:'productName' " class="col mb-5  text-black">
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height: 300px;" class="card-img-top" src="{{i.productImage}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <p>{{i.description}}</p>
                            <!-- Product price-->
                           {{i.price}} RS
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="product/view-product/{{i.id}}">View options</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>